body {
  font-family: 'Open Sans', sans-serif;
}

header {
  background-color: #e5f3f2;
  height: 300px;
}

h1 {
  display: inline-block;
  font-size:50px;
  font-family: 'Roboto Slab', serif;
  margin: 20px auto;
}

.logo {
  text-align: center;
}

.idea {
  color: #00a79d;
}

.box {
  color: #6d6e71;
}

.input-title, .input-body, .input-search, .save-button {
  display: block;
  font-size: 20px;
  margin: 25px auto;
  height: 25px;
  width: 50%;
  border: 2px solid #d1d3d4;
}

.save-button {
  background-color: #00a79d;
  border: none;
  color: #ffffff;
}

.save-button:hover {
  background-color: #045e55;
}

.card {
  border-bottom: 2px solid #d1d3d4;
  height: 150px;
  margin: 10px auto;
  overflow:auto;
  width: 50%;
}
.card-title {
  color: #6d6e71;
  font-size: 25px;
  font-family: 'Roboto Slab', serif;
  margin: 10px 0;
}

.card-body {
  color: #939598;
  margin-bottom: 10px;
}

.card-buttons {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  height: 25px;
  width: 25px;
  outline: none;
}

.upvote {
  background-image: url('upvote.svg');
}
.upvote:hover {
  background-image: url('upvote-hover.svg');
}

.downvote {
  background-image: url('downvote.svg');
}
.downvote:hover {
  background-image: url('downvote-hover.svg');
}

.delete {
  background-image: url('delete.svg');
}
.delete:hover {
  background-image: url('delete-hover.svg');
}

@media screen and (max-width: 500px) {

   .input-title, .input-body, .input-search, .save-button {
     width: 85%;
     margin: 15px auto;
   }

   .input-body {
     height: 80px;
   }

   .save-button {
     height: 35px;

   }
}
